.coupon-order-list-page {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.coupon-order-list__tab {
  padding: 0.85714rem 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 12.14286rem;
}

.coupon-order-list__tab-item {
  padding: 0 0.85714rem;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  will-change: transform;
  white-space: nowrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.coupon-order-list__tab-item.active {
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.coupon-order-list__content {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.coupon-order-list__content .swiper {
  width: 100%;
  height: 100%;
}

.coupon-order-list__content .swiper-item {
  width: 100%;
  height: 100%;
}

.coupon-order-list__content .scroller {
  width: 100%;
  height: 100%;
}

.coupon-order-list__content .sub-page {
  padding: 0 0.85714rem;
  background-color: #f5f5f5;
  padding-bottom: 1.71429rem;
  padding-bottom: calc(1.71429rem + constant(safe-area-inset-bottom) * 1);
  padding-bottom: calc(1.71429rem + env(safe-area-inset-bottom) * 1);
  /* #ifndef h5 */
  /* #endif */
}

.coupon-order-list__content .end-tip {
  width: 100%;
  font-size: 0.92857rem;
  color: rgba(0, 0, 0, 0.35);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.85714rem;
}

.coupon-order-list__content .button-limted {
  width: 30vw;
  margin: 0 auto;
}

.coupon-order-list__content .button-limted .buy-button {
  padding: 0.71429rem 0;
}
.coupon-order-list-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.71429rem;
  margin-bottom: 0.85714rem;
  overflow: hidden;
}
.coupon-order-list-item .top-item-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  background: #ffffff;
  padding: 0.71429rem 0.71429rem 0.28571rem 0.71429rem;
}
.coupon-order-list-item .top-item-info .left-coupon-image-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 6.42857rem;
  min-width: 6.42857rem;
  height: 6.42857rem;
  border-radius: 0.57143rem;
  overflow: hidden;
  margin-right: 0.71429rem;
}
.coupon-order-list-item .top-item-info .left-coupon-image-content .coupon-image {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
.coupon-order-list-item .top-item-info .right-text-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.coupon-order-list-item .top-item-info .right-text-content .top-text {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.coupon-order-list-item .top-item-info .right-text-content .coupon-goods-name,
.coupon-order-list-item .top-item-info .right-text-content .cardInfo {
  margin-bottom: 0.35714rem;
}
.coupon-order-list-item .top-item-info .right-text-content .use-time {
  font-size: 0.85714rem;
}
.coupon-order-list-item .top-item-info .right-text-content .specification {
  font-size: 0.85714rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.coupon-order-list-item .top-item-info .right-text-content .specification .specification-text {
  margin-right: 0.35714rem;
}
.coupon-order-list-item .top-item-info .right-text-content .specification .specification-row {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.coupon-order-list-item .top-item-info .right-text-content .specification .specification-row .specification-left,
.coupon-order-list-item .top-item-info .right-text-content .specification .specification-row .specification-right {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.coupon-order-list-item .top-item-info .right-text-content .expireEndAt {
  font-size: 0.85714rem;
}
.coupon-order-list-item .top-item-info .right-text-content .goods-name-status-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.coupon-order-list-item .top-item-info .right-text-content .coupon-goods-name {
  font-size: 1rem;
  line-height: 1.21429rem;
  font-weight: 500;
}
.coupon-order-list-item .top-item-info .right-text-content .coupon-status {
  font-size: 1rem;
  white-space: nowrap;
  margin-bottom: 0.35714rem;
}
.coupon-order-list-item .top-item-info .right-text-content .coupon-status .go-to-use {
  font-size: 0.71429rem;
  background: var(--anteng-color-primary);
  color: #ffffff;
  padding: 0.21429rem 0.71429rem;
  border-radius: 1.07143rem;
}
.coupon-order-list-item .top-item-info .right-text-content .coupon-status .unuse-div {
  position: absolute;
  z-index: 89;
  -webkit-transform: translate3d(0, 0, 0) rotate(-25deg);
          transform: translate3d(0, 0, 0) rotate(-25deg);
  padding: 2.85714rem 2.14286rem;
  color: #ccc;
  font-size: 1rem;
  font-weight: bold;
  top: 0;
  background-position: center center;
  letter-spacing: 0.14286rem;
  right: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 7.14286rem;
  min-height: 7.14286rem;
  opacity: 0.7;
  background: url("https://dev-cdn.anteng.cn/upload/e108fa9932f4875b0c500f345a092026.svg") no-repeat;
}
.coupon-order-list-item .bottom-coupon-notice {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  padding: 0.28571rem 0.71429rem 0.71429rem 0.71429rem;
}
.coupon-order-list-item .bottom-coupon-notice .left-text-content,
.coupon-order-list-item .bottom-coupon-notice .right-arrow {
  font-size: 0.85714rem;
  color: rgb(115, 115, 115);
}
.coupon-order-list-item .dividingLine {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 0.85714rem;
  border-radius: 0.71429rem;
  position: relative;
}
.coupon-order-list-item .dividingLine .pre-arc {
  height: 0.85714rem;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: -webkit-radial-gradient(left center, circle, transparent 0.42857rem, #fff 0);
  background-image: radial-gradient(circle at left center, transparent 0.42857rem, #fff 0);
}
.coupon-order-list-item .dividingLine .end-arc {
  height: 0.85714rem;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: -webkit-radial-gradient(right center, circle, transparent 0.42857rem, #fff 0);
  background-image: radial-gradient(circle at right center, transparent 0.42857rem, #fff 0);
}
.coupon-order-list-item .dividingLine::after {
  content: "";
  height: 0.07143rem;
  background-image: -webkit-linear-gradient(left, #e8e8e8, #e8e8e8 0.42857rem, transparent 0.42857rem, transparent 0.71429rem);
  background-image: linear-gradient(to right, #e8e8e8, #e8e8e8 0.42857rem, transparent 0.42857rem, transparent 0.71429rem);
  background-size: 0.71429rem 0.07143rem;
  background-repeat: repeat;
  position: absolute;
  top: 50%;
  left: 0.42857rem;
  right: 0.42857rem;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
}
.coupon-order-list-item .must-know-content {
  padding-top: 0.85714rem;
  font-size: 0.85714rem;
  color: rgb(115, 115, 115);
  font-weight: 400;
  background: #ffffff;
  padding: 0 0.71429rem 0.71429rem 0.71429rem;
}
.nut-ellipsis{display:flex}.nut-ellipsis .nut-ellipsis__text{cursor:hand;color:var(--nut-ellipsis-expand-collapse-color, #3460fa);display:inline}.nut-ellipsis .nut-ellipsis__wordbreak{word-break:break-all}.nut-ellipsis__copy{position:absolute;top:-999999px}

/*# sourceMappingURL=276.a6e959d766ed7b3944ea.css.map*/