.pay-result {
  padding: 0.85714rem;
  margin-bottom: 1.42857rem;
}

.pay-result__status {
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.42857rem;
}

.pay-result__status.end .pay-result__spin {
  -webkit-transition: all 0.4s 1s linear;
  transition: all 0.4s 1s linear;
  -webkit-transform: translate3d(-3.14286rem, 0, 0) scale(0.6);
          transform: translate3d(-3.14286rem, 0, 0) scale(0.6);
}

.pay-result__status.end .pay-result__title {
  -webkit-transition: all 0.4s 1s linear;
  transition: all 0.4s 1s linear;
  margin-bottom: -2.28571rem;
  -webkit-transform: translate3d(1.71429rem, -3.57143rem, 0) scale(1);
          transform: translate3d(1.71429rem, -3.57143rem, 0) scale(1);
}

.pay-result__spin {
  width: 3.85714rem;
  height: 3.85714rem;
  -webkit-transition: all 0.4s 0s linear;
  transition: all 0.4s 0s linear;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
  overflow: hidden;
  will-change: transform;
}

.pay-result__spin-canvas {
  width: 100%;
  height: 100%;
}

.pay-result__title {
  height: 1.57143rem;
  font-size: 1.57143rem;
  font-weight: 500;
  margin-top: 0.85714rem;
  -webkit-transition: all 0.4s 0s linear;
  transition: all 0.4s 0s linear;
  -webkit-transform: translate3d(0, 0, 0) scale(0.6363);
          transform: translate3d(0, 0, 0) scale(0.6363);
  line-height: 1.57143rem;
  will-change: transform, margin-bottom, font-size;
}

.pay-result__desc {
  font-size: 1rem;
  margin-top: 0.85714rem;
  color: rgba(0, 0, 0, 0.6);
}

.pay-result__actions {
  height: 3.57143rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.71429rem;
  -webkit-animation: slide_in;
          animation: slide_in;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-animation: slide_in 0.6s both;
          animation: slide_in 0.6s both;
}

@-webkit-keyframes slide_in {
  from {
    height: 0;
    -webkit-transform: translate3d(0, 1.71429rem, 0);
            transform: translate3d(0, 1.71429rem, 0);
    opacity: 0;
  }
  to {
    height: 3.57143rem;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slide_in {
  from {
    height: 0;
    -webkit-transform: translate3d(0, 1.71429rem, 0);
            transform: translate3d(0, 1.71429rem, 0);
    opacity: 0;
  }
  to {
    height: 3.57143rem;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.pay-result__action {
  width: 8.21429rem;
  height: 2.5rem;
  border-radius: 1.42857rem;
  border: 0.07143rem solid #ddd;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  margin: 0 0.42857rem;
}

.pay-result__pending {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.42857rem 0.85714rem;
}

.pay-result__pending .count-down {
  font-size: 1rem;
  color: #999;
}

.pay-result__pending .amount {
  font-size: 3rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.pay-result__pending .amount .yen {
  font-size: 1.21429rem;
}

.pay-result__pending .pay-action {
  width: 19.28571rem;
  height: 3.21429rem;
  background-color: var(--anteng-color-primary);
  border-radius: 3.21429rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--anteng-color-primary-text, #fff);
  margin-top: 2.85714rem;
  font-size: 1.07143rem;
  letter-spacing: 0.14286rem;
  position: relative;
}

.pay-result__pending .pay-action.jd {
  margin: 1.71429rem auto 0.85714rem auto;
  width: 70%;
  height: 3.5rem;
  border-radius: 0.57143rem;
  background-color: #ff5454;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 500;
  font-size: 1.14286rem;
  letter-spacing: 0.14286rem;
  position: relative;
}

.pay-result__pending .pay-action.jd:hover, .pay-result__pending .pay-action.jd:active {
  background-color: rgba(255, 84, 84, 0.85);
}

.pay-result__pending .pay-action.jd::before {
  content: "";
  background-image: url(https://dev-cdn.anteng.cn/upload/8c5b8cfa1ee768f2658e436dc76875e7.png);
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
  width: 3.92857rem;
  height: 2.85714rem;
  position: absolute;
  bottom: 0;
  left: -0.57143rem;
}

.pay-result__pending .tip {
  margin-top: 1.28571rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #999;
}

.pay-result__pending .tip .service {
  color: #1677ff;
  padding: 0 0.28571rem;
  text-decoration: underline;
  text-underline-offset: 0.21429rem;
  position: relative;
}

.pay-result__pending .tip .service .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(2);
          transform: translate3d(-50%, -50%, 0) scale(2);
  width: 100%;
  height: 100%;
  opacity: 0;
}

.pay-result__pending .refresh {
  color: var(--anteng-color-primary);
  font-weight: 500;
  padding: 0.28571rem 0.57143rem;
  margin-left: -0.28571rem;
}
.c_lottie {
  width: 100%;
  height: 100%;
}

.c_lottie__canvas {
  width: 100%;
  height: 100%;
}
.recommended {
  margin: 0 0.71429rem;
  border-radius: 0.71429rem;
}
.recommended .recommend-title {
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  color: rgb(34, 197, 93);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 0.71429rem 0;
}
.recommended .c_goods-list {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.recommendLoading {
  opacity: 0 !important;
}
.recommendLoading .c_goods-list {
  opacity: 0 !important;
}

/*# sourceMappingURL=709.287ca2600816a2d61a8b.css.map*/