/*
.successPng {
  width: 120px;
  height: 83px;
}

.writeOff {
  z-index: 3;
  justify-content: center;

  .backContainer {
    z-index: -2;
  }

  .fingerImage {
    width: 180px;
    height: 160px;
    margin: 31px auto -30px;
    overflow: hidden;
  }

  .inputType {
    padding: 0 20px;

    .verificationBtn {
      margin-top: 25px;
    }

    .writeOffInput {
      height: 60px;
      background: #ffffff;
    }
  }
}
*/
