.StoreSelector {
  padding: 0 15px;
  position: fixed;
  width: 100%;
  .StoreSelectorTitle {
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
  }
  .storeSelectorContainer {
    overflow: auto;
    height: 80vh;
    .storeItem {
      margin-top: var(--margin-l);
      border-radius: var(--radio-large-l);
      padding: var(--padding-large) var(--padding-large);
      background: #ffffff;
      .storeAvatar {
        margin-right: var(--margin-l);
        width: 80px;
        height: 80px;
      }
    }
    .echoActive {
      position: relative;
      &:after {
        position: absolute;
        bottom: 5px;
        right: 20px;
        content: '上次选择的店铺';
        font-size: 12px;
        color: gray;
      }
    }
  }
}
.common-navigator__menu-item {
  display: none !important;
}
