.goods-detail-promotion {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.42857rem;
  margin-right: -1rem;
  margin-left: -0.78571rem;
}
.goods-detail-promotion .coupon-list {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto visible;
  -webkit-mask-image: -webkit-linear-gradient(right, transparent 0.85714rem, #000 3.42857rem);
          mask-image: linear-gradient(to left, transparent 0.85714rem, #000 3.42857rem);
}
.goods-detail-promotion .coupon-list::before {
  content: "";
  width: 0.78571rem;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.goods-detail-promotion .coupon-list::after {
  content: "";
  width: 2.28571rem;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.goods-detail-promotion .coupon-item {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  min-width: 3.57143rem;
  height: 1.64286rem;
  padding: 0 0.42857rem;
  font-size: 0.92857rem;
  color: #ff2b60;
  background-color: #feeff2;
  border-radius: 0.14286rem;
  line-height: 1.64286rem;
  text-align: center;
  margin: 0.07143rem 0.42857rem 0.07143rem 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.goods-detail-promotion .get-btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 3.57143rem;
  height: 1.64286rem;
  font-size: 0.92857rem;
  background-color: rgba(255, 43, 96, 0.1);
  color: #ff2b60;
  border-radius: 1.42857rem 0 0 1.42857rem;
  line-height: 1.64286rem;
  padding-left: 0.42857rem;
}
.goods-detail-promotion .get-btn .icon {
  font-size: 0.78571rem;
  line-height: 1.64286rem;
}
.receive-coupon-modal-content {
  background-color: #fff;
  border-radius: 1.07143rem 1.07143rem 0 0;
  min-height: 28.57143rem;
}
.receive-coupon-modal-content .modal-title {
  text-align: center;
  font-size: 1.14286rem;
  padding: 0.85714rem 0;
  letter-spacing: 0.14286rem;
  font-weight: 500;
}
.use-receive-coupon-modal {
  padding-top: 0.14286rem;
  padding-bottom: 1.71429rem;
  padding-bottom: 24px;
  padding-bottom: calc(1.71429rem + constant(safe-area-inset-bottom) * 1);
  padding-bottom: calc(1.71429rem + env(safe-area-inset-bottom) * 1);
  /* #ifndef h5 */
  /* #endif */
}
.use-receive-coupon-modal__continue-tips {
  font-size: 0.71429rem;
  color: #ff2b60;
  text-align: center;
  width: 0.71429rem;
  white-space: nowrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.28571rem auto 0 auto;
}
.c_coupon-item-wrap {
  padding: 0.42857rem;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 43, 96, 0.1)), to(rgba(255, 43, 96, 0.1)));
  background-image: -webkit-linear-gradient(top, rgba(255, 43, 96, 0.1), rgba(255, 43, 96, 0.1));
  background-image: linear-gradient(to bottom, rgba(255, 43, 96, 0.1), rgba(255, 43, 96, 0.1));
  border-radius: 1rem;
  margin-bottom: 0.42857rem;
  position: relative;
}
.c_coupon-item-wrap .c_coupon-item {
  margin-bottom: 0;
  -webkit-filter: drop-shadow(0 0 0.14286rem rgba(255, 43, 96, 0.1));
          filter: drop-shadow(0 0 0.14286rem rgba(255, 43, 96, 0.1));
}
.c_coupon-item {
  max-width: 100%;
  margin-bottom: 0.71429rem;
  -webkit-filter: drop-shadow(0 0 0.14286rem rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 0 0.14286rem rgba(0, 0, 0, 0.1));
  position: relative;
}
.c_coupon-item.disabled .c_coupon-item__amount-content,
.c_coupon-item.disabled .c_coupon-item__info-content {
  opacity: 0.4;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.c_coupon-item__main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.c_coupon-item__footer {
  background-color: #ffffff;
  border-radius: 0 0 0.71429rem 0.71429rem;
  border-top: 0.07143rem solid #f5f5f5;
  padding: 1.14286rem 0.85714rem 0.57143rem 0.85714rem;
  font-size: 0.78571rem;
  color: rgba(0, 0, 0, 0.35);
  margin-top: -0.71429rem;
  background-color: rgb(255, 248, 235);
  border: 0.07143rem solid #fff;
  color: #ff2b60;
  -webkit-box-shadow: 0 0.71429rem 1.42857rem -0.71429rem rgba(0, 0, 0, 0.05) inset;
          box-shadow: 0 0.71429rem 1.42857rem -0.71429rem rgba(0, 0, 0, 0.05) inset;
}
.c_coupon-item__footer .icon {
  opacity: 0.6;
}
.c_coupon-item__amount {
  background-color: #ffffff;
  border-radius: 0.71429rem 0 0 0.71429rem;
  position: relative;
  z-index: 2;
}
.c_coupon-item__amount-content {
  height: 100%;
  padding: 0.71429rem 0.14286rem 0.71429rem 0.42857rem;
  width: 7.71429rem;
  color: #ff2b60;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.c_coupon-item__amount-content .value-wrap {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.c_coupon-item__amount-content .value {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  line-height: 1;
}
.c_coupon-item__amount-content .value .yen {
  font-size: 1.28571rem;
  margin-right: 0.14286rem;
}
.c_coupon-item__amount-content .value .integer {
  font-size: 2.57143rem;
}
.c_coupon-item__amount-content .value .decimal {
  font-size: 1.57143rem;
}
.c_coupon-item__amount-content .label {
  font-size: 0.85714rem;
  text-align: center;
  margin-bottom: -0.28571rem;
  margin-top: 0.14286rem;
  opacity: 8;
}
.c_coupon-item__amount-content .helper {
  font-size: 0.78571rem;
  padding-left: 0.57143rem;
  margin-bottom: -0.21429rem;
  color: rgba(0, 0, 0, 0.3);
}
.c_coupon-item__amount-content .helper .icon {
  opacity: 0.6;
}
.c_coupon-item__split {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 1.14286rem;
  background-image: -webkit-radial-gradient(top center, circle, rgba(255, 255, 255, 0) 0.42857rem, #ffffff 0, #ffffff 80%, rgba(255, 255, 255, 0) 80%);
  background-image: radial-gradient(circle at top center, rgba(255, 255, 255, 0) 0.42857rem, #ffffff 0, #ffffff 80%, rgba(255, 255, 255, 0) 80%);
  background-repeat: no-repeat;
  background-position: center 0;
  margin: 0 -0.07143rem;
  position: relative;
}
.c_coupon-item__split::after {
  content: "";
  width: 0.07143rem;
  height: calc(100% - 1.28571rem);
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  background-image: -webkit-linear-gradient(top, #eee, #eee 0.42857rem, rgba(238, 238, 238, 0) 0.42857rem);
  background-image: linear-gradient(to bottom, #eee, #eee 0.42857rem, rgba(238, 238, 238, 0) 0.42857rem);
  background-size: 100% 12.5%;
}
.c_coupon-item__split::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  background-image: -webkit-radial-gradient(bottom center, circle, rgba(255, 255, 255, 0) 0.42857rem, #ffffff 0);
  background-image: radial-gradient(circle at bottom center, rgba(255, 255, 255, 0) 0.42857rem, #ffffff 0);
}
.c_coupon-item__stamp {
  position: absolute;
  z-index: 0;
  width: 7.14286rem;
  height: 7.14286rem;
  line-height: 7.14286rem;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate3d(18%, 28%, 0) rotate(-25deg);
          transform: translate3d(18%, 28%, 0) rotate(-25deg);
  background-image: url(https://dev-cdn.anteng.cn/upload/e108fa9932f4875b0c500f345a092026.svg);
  background-repeat: no-repeat;
  text-align: center;
  color: #ccc;
  font-size: 1rem;
  font-weight: bold;
  background-position: center center;
  letter-spacing: 0.14286rem;
  white-space: nowrap;
  opacity: 0.4;
}
.c_coupon-item__stamp.small {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 0.71429rem;
}
.c_coupon-item__info {
  background-color: #ffffff;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 0 0.71429rem 0.71429rem 0;
  position: relative;
  z-index: 2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.c_coupon-item__info-content {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.85714rem 0.71429rem 0.71429rem 0.71429rem;
  min-height: 7.71429rem;
}
.c_coupon-item__info-content .name {
  font-size: 1.07143rem;
  font-weight: bold;
  line-height: 1.3;
}
.c_coupon-item__info-content .desc {
  font-size: 0.92857rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 0.28571rem;
}
.c_coupon-item__info-content .valid {
  font-size: 0.85714rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 0.28571rem;
  float: left;
  width: 7.14286rem;
  white-space: nowrap;
}
.c_coupon-item__info-content .valid.count-down {
  color: #ff2b60;
  opacity: 0.8;
}
.c_coupon-item__button {
  padding: 0.85714rem 0.71429rem 0.71429rem 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  float: right;
  position: relative;
  z-index: 3;
}
.c_coupon-item__common-button {
  font-size: 0.78571rem;
  font-weight: normal;
  color: #ff2b60;
  border: 0.07143rem solid #ff2b60;
  padding: 0.21429rem 0.71429rem;
  min-width: 4rem;
  text-align: center;
  border-radius: 1.71429rem;
  margin-top: -0.07143rem;
}
.c_coupon-item__common-button.centered {
  margin: auto 0;
}
.c_coupon-item__common-button.primary {
  background-color: #ff2b60;
  color: #fff;
}
.goods-sku-modal {
  height: 40rem;
  max-height: 80vh;
  background-color: #fff;
  border-radius: 1.07143rem 1.07143rem 0 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.goods-sku-modal .header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1.07143rem;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.goods-sku-modal .goods-image {
  width: 6.42857rem;
  height: 6.42857rem;
  background-color: #f5f6fa;
  border-radius: 0.35714rem;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-right: 0.57143rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.85714rem;
  color: rgba(0, 0, 0, 0.35);
}
.goods-sku-modal .goods-image .image {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.goods-sku-modal .goods-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.goods-sku-modal .price-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.goods-sku-modal .current-price {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.goods-sku-modal .current-price .yen {
  font-size: 1.14286rem;
}
.goods-sku-modal .current-price .value {
  font-size: 1.71429rem;
  font-weight: 500;
}
.goods-sku-modal .current-price .value.decimal {
  font-size: 1.28571rem;
}
.goods-sku-modal .current-price .minimum {
  font-size: 0.78571rem;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 0.14286rem;
  position: relative;
  bottom: 0.07143rem;
}
.goods-sku-modal .list-price {
  width: 100%;
  font-size: 0.85714rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.goods-sku-modal .list-price .line-through {
  color: rgba(0, 0, 0, 0.35);
  text-decoration: line-through;
  -webkit-text-decoration-skip: 2;
          text-decoration-skip: 2;
}
.goods-sku-modal .price-tag {
  font-size: 0.85714rem;
  color: #fff1c2;
  background-color: #303741;
  padding: 0 0.42857rem;
  position: relative;
  bottom: 0.35714rem;
  height: 1.42857rem;
  line-height: 1.42857rem;
  margin-left: 0.57143rem;
  border-radius: 0.14286rem;
}
.goods-sku-modal .price-tag::before {
  content: "";
  width: 0.42857rem;
  height: 0.42857rem;
  border-radius: 0.14286rem;
  position: absolute;
  left: 0;
  top: 50%;
  background-color: #303741;
  -webkit-transform: translate3d(-20%, -50%, 0) rotate(-35deg) skew(40deg);
          transform: translate3d(-20%, -50%, 0) rotate(-35deg) skew(40deg);
}
.goods-sku-modal .commission {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.85714rem;
  position: relative;
  bottom: 0.35714rem;
  margin-left: 0.28571rem;
  color: #ff2b60;
}
.goods-sku-modal .commission .tag {
  width: 1.28571rem;
  height: 1.28571rem;
  font-size: 0.78571rem;
  background-color: #ff2b60;
  color: #fff;
  text-align: center;
  line-height: 1.28571rem;
  border-radius: 0.14286rem;
  margin-right: 0.14286rem;
}
.goods-sku-modal .limit {
  width: 100%;
  font-size: 0.85714rem;
  color: #ff2b60;
  margin-top: 0.28571rem;
}
.goods-sku-modal .content-wrap {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}
.goods-sku-modal .content {
  height: 100%;
}
.goods-sku-modal .label {
  font-size: 1rem;
  font-weight: 500;
}
.goods-sku-modal .footer {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding: 1.07143rem 1.42857rem;
  padding-bottom: 1.07143rem;
  padding-bottom: calc(1.07143rem + constant(safe-area-inset-bottom) * 1);
  padding-bottom: calc(1.07143rem + env(safe-area-inset-bottom) * 1);
  /* #ifndef h5 */
  /* #endif */
  border-top: 0.03571rem solid #f8f8f8;
}
.goods-sku-modal .count-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.goods-sku-modal .stock-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.goods-sku-modal .stock-desc {
  width: 100%;
  font-size: 0.85714rem;
  color: #ff2b60;
  margin-top: 0.28571rem;
}
.goods-sku-modal .stock {
  font-size: 0.78571rem;
  color: rgba(0, 0, 0, 0.35);
  margin-left: 0.57143rem;
}
.goods-sku-modal .steper {
  margin-left: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 2.57143rem;
  border-radius: 2.85714rem;
  background-color: #f8f8f8;
  font-weight: bold;
}
.goods-sku-modal .decrease,
.goods-sku-modal .increase {
  width: 2.57143rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.goods-sku-modal .decrease.disabled,
.goods-sku-modal .increase.disabled {
  color: rgba(0, 0, 0, 0.35);
}
.goods-sku-modal .count {
  width: 3.21429rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.goods-sku-modal .actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3rem;
  margin-top: 1.14286rem;
  margin-right: -0.57143rem;
}
.goods-sku-modal .action-item {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 3rem;
  background-color: var(--anteng-color-primary);
  color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3rem;
  letter-spacing: 0.14286rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 0.57143rem;
}
.goods-sku-modal .action-item.minor {
  background-color: #35304a;
}
.goods-sku-modal .action-item:active {
  opacity: 0.8;
}
.goods-sku-modal .action-item.disabled {
  background-color: #ccc;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.goods-sku-modal .spec-content {
  padding: 0 1.07143rem;
  padding-bottom: 1.71429rem;
}
.goods-sku-modal .spec-type {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.71429rem;
}
.goods-sku-modal .spec-type:first-of-type {
  margin-top: 0;
}
.goods-sku-modal .spec-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -0.71429rem;
}
.goods-sku-modal .spec-item {
  height: 2.5rem;
  background-color: #f8f8f8;
  padding: 0 0.85714rem;
  min-width: 20%;
  margin-right: 0.71429rem;
  margin-top: 0.71429rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.57143rem;
  font-size: 0.92857rem;
  position: relative;
  border: 0.07143rem solid transparent;
  font-weight: 500;
}
.goods-sku-modal .spec-item.disabled {
  color: rgba(0, 0, 0, 0.35);
  color: #c8c8c8;
}
.goods-sku-modal .spec-item.selected {
  border: 0.07143rem solid var(--anteng-color-primary);
  background-color: rgba(var(--anteng-color-primary-rgb), 0.1);
  color: var(--anteng-color-primary);
}
.goods-sku-modal .stockout {
  font-size: 0.71429rem;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0.14286rem;
  -webkit-transform: translate3d(0, -40%, 0);
          transform: translate3d(0, -40%, 0);
  font-weight: 400;
  color: #c8c8c8;
  padding: 0 0.07143rem;
  background-color: #c1c1c1;
  padding: 0rem 0.42857rem;
  color: #fff;
  border-radius: 1.71429rem 1.71429rem 0 1.71429rem;
  right: -0.07143rem;
  top: -0.14286rem;
}
.goods-sku-modal .stockout::before {
  content: "";
  width: 0.57143rem;
  height: 0.57143rem;
  background-image: -webkit-radial-gradient(at 0 100%, transparent 0.57143rem, #c1c1c1 0);
  background-image: radial-gradient(at 0 100%, transparent 0.57143rem, #c1c1c1 0);
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.express-modal-wrap {
  padding-bottom: 0.85714rem;
  padding-bottom: 12px;
  padding-bottom: calc(0.85714rem + constant(safe-area-inset-bottom) * 1);
  padding-bottom: calc(0.85714rem + env(safe-area-inset-bottom) * 1);
  /* #ifndef h5 */
  /* #endif */
}

.express-modal {
  background-color: #fff;
  border-radius: 0.71429rem;
  font-size: 0.92857rem;
  padding-bottom: 0.07143rem;
  -webkit-clip-path: border-box;
          clip-path: border-box;
}

.express-modal__header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.07143rem 1.07143rem 0.57143rem 1.07143rem;
  border-radius: inherit;
  margin-bottom: 0.85714rem;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0rem;
  background-color: inherit;
}

.express-modal__header .logo {
  width: 1.42857rem;
  height: 1.42857rem;
  border-radius: 0.14286rem;
  background-size: contain;
  margin-left: -0.35714rem;
}

.express-modal__header .name {
  margin-left: 0.57143rem;
  margin-right: 0.85714rem;
}

.express-modal__header .copy {
  color: var(--anteng-color-primary);
  margin-left: auto;
}

.express-modal__details {
  padding-bottom: 1.71429rem;
}

.express-step {
  margin-bottom: 1.71429rem;
  font-size: 0.92857rem;
  padding: 0 0.85714rem 0 2.57143rem;
  text-align: justify;
  position: relative;
}

.express-step.active .dot {
  background-color: var(--anteng-color-primary);
  width: 0.71429rem;
  height: 0.71429rem;
  left: 1.07143rem;
}

.express-step.active .express-step__title {
  color: var(--anteng-color-primary);
}

.express-step.last .dash-line {
  display: none;
}

.express-step .dot {
  width: 0.57143rem;
  height: 0.57143rem;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 0.35714rem;
  left: 1.14286rem;
  background-color: #cdcdcd;
}

.express-step .dash-line {
  height: calc(100% + 1.71429rem);
  position: absolute;
  left: 1.42857rem;
  top: 0.85714rem;
  width: 0.07143rem;
  background-color: #cdcdcd;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  opacity: 0.3;
}

.express-step__title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.express-step__status {
  font-size: 1.07143rem;
  margin-right: 0.28571rem;
  font-weight: 500;
}

.express-step__text {
  margin-top: 0.28571rem;
  color: rgba(0, 0, 0, 0.6);
}

.express-step__phone {
  color: var(--anteng-color-primary);
}
.goods-suitable-shops {
  background-color: #fff;
}
.goods-suitable-shops .header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.07143rem 0.57143rem 1.07143rem 1.07143rem;
}
.goods-suitable-shops .header .title {
  font-size: 1.21429rem;
  font-weight: 500;
}
.goods-suitable-shops .header .more {
  margin-left: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.85714rem;
  color: rgba(0, 0, 0, 0.5);
}
.goods-suitable-shops .header + .c_shop-item {
  margin-top: -1.07143rem;
}
.goods-suitable-shops-list {
  height: 100%;
  width: 100%;
}
.goods-suitable-shops-list .c_shop-item {
  background-color: #fff;
  margin: 0.57143rem;
  border-radius: 0.71429rem;
}
.goods-suitable-shops-list .c_shop-item:last-of-type {
  border-bottom: 0.07143rem solid #f5f5f5;
}
.goods-suitable-shops-list .c_shop-item.active {
  position: relative;
  z-index: 0;
}
.goods-suitable-shops-list .c_shop-item.active::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: rgba(var(--anteng-color-primary-rgb), 0.1);
  border: 0.14286rem solid var(--anteng-color-primary);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.c_shop-item {
  padding: 1.07143rem;
}

.c_shop-item__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.c_shop-item__avatar {
  width: 2.85714rem;
  height: 2.85714rem;
  border-radius: 0.57143rem;
  background-color: #f5f6fa;
  margin-right: 0.57143rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.c_shop-item__avatar .icon {
  opacity: 0.1;
  font-size: 1.71429rem;
  line-height: 1;
  width: 1.71429rem;
  height: 1.71429rem;
}

.c_shop-item__base {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.c_shop-item__actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.c_shop-item__action {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.57143rem;
  font-size: 0.71429rem;
  color: rgba(0, 0, 0, 0.5);
}

.c_shop-item__action .icon {
  width: 1.42857rem;
  height: 1.42857rem;
  font-size: 1.42857rem;
  line-height: 1;
  margin-bottom: 0.28571rem;
  opacity: 0.8;
}

.c_shop-item__name {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
}

.c_shop-item__time {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.85714rem;
  margin-top: 0.28571rem;
}

.c_shop-item__address {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  font-size: 0.85714rem;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 0.57143rem;
}

.c_shop-item__address .icon-location {
  margin-right: 0.28571rem;
  font-size: 0.85714rem;
  opacity: 0.8;
}

.c_shop-item__distance {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.goods-group-coupon-receiver {
  background-color: #fff;
  border-bottom: 0.07143rem solid #f3f3f3;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 0.28571rem 0.07143rem 0.14286rem 0.85714rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}
.goods-group-coupon-receiver .goods-detail-promotion {
  margin-right: 0;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}
.goods-group-coupon-receiver .get-btn {
  margin-right: 0;
}
.goods-group-coupon-receiver .goods-group-coupon-receiver__title {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  font-size: 0.85714rem;
  white-space: nowrap;
  flex-shrink: 0;
  line-height: 1.64286rem;
  padding-right: 0.28571rem;
  font-weight: 500;
  background-color: inherit;
  position: relative;
  z-index: 1;
}

/*# sourceMappingURL=216.fde847ba21d541742e33.css.map*/