.p_search {
  background-color: #fff;
}

.p_search__search {
  width: 100%;
  height: 2.28571rem;
  background-color: #f5f6fa;
  border-radius: 2.28571rem;
}

.p_search__content {
  padding: 0.85714rem 1.07143rem;
  background-color: #fff;
}

.p_search__subtitle {
  font-size: 1.07143rem;
  font-weight: 500;
}

.p_search__tags {
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.p_search__tags.expanding .p_search__tag-expand {
  opacity: 0;
}

.p_search__tags-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.p_search__tag,
.p_search__tag-expand,
.p_search__tag-collapse {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 0 0.85714rem;
  height: 2rem;
  min-width: 3.42857rem;
  background-color: #f5f6fa;
  border-radius: 2.28571rem;
  margin: 0.28571rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.92857rem;
}

.p_search__tag-expand {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.search-records__title {
  font-size: 1.07143rem;
  font-weight: 500;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-records__trash {
  font-size: 1.28571rem;
  opacity: 0.3;
  width: 2.14286rem;
  margin-right: -0.42857rem;
}

.search-records__trash,
.search-records__manager {
  height: 2.14286rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
}

.search-records__manager {
  font-size: 0.92857rem;
  font-weight: normal;
}

.search-records__manager .split {
  margin: 0 0.28571rem;
  font-size: 0.71429rem;
  opacity: 0.3;
}

.search-records__clear {
  opacity: 0.3;
}

.search-records {
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin: 0 -0.57143rem;
  margin-bottom: 1.71429rem;
  min-height: 2.57143rem;
}

.search-records.expanding .search-records__expand {
  opacity: 0;
}

.search-records.expanding .search-records__item.overflow,
.search-records.expanding .search-records__collapse {
  opacity: 1;
}

.search-records.editing .search-records__collapse,
.search-records.editing .search-records__expand {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  -webkit-transition: none;
  transition: none;
}

.search-records__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.search-records__item,
.search-records__expand,
.search-records__collapse {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 0 0.85714rem;
  height: 2rem;
  min-width: 3.42857rem;
  background-color: #f5f6fa;
  border-radius: 2.28571rem;
  margin: 0.28571rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  max-width: 50vw;
}

.search-records__item .text,
.search-records__expand .text,
.search-records__collapse .text {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.search-records__expand {
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.search-records__item.overflow,
.search-records__collapse {
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.search-records__remove {
  opacity: 0.3;
  margin-left: 0.28571rem;
  margin-right: -0.28571rem;
  font-size: 0.85714rem;
}
.hot-search__title {
  font-size: 1.07143rem;
  font-weight: 500;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hot-search__toggle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 0.14286rem;
  opacity: 0.3;
  font-size: 0.92857rem;
  font-weight: normal;
}

.hot-search__toggle .icon {
  margin-left: 0.42857rem;
}

.hot-search__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0.57143rem -0.57143rem;
  margin-bottom: 0.85714rem;
}

.hot-search__item {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 0 0.85714rem;
  height: 2rem;
  min-width: 3.42857rem;
  background-color: #f5f6fa;
  border-radius: 2.28571rem;
  margin: 0.28571rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  max-width: calc(100% - 0.57143rem);
  position: relative;
  z-index: 0;
}

.hot-search__item.custom-color::before, .hot-search__item.custom-color::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: #fff;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.hot-search__item.custom-color::after {
  opacity: 0.1;
  background-color: currentColor;
}

.hot-search__item .text {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.hot-search__item-icon {
  width: 1.71429rem;
  height: 1.71429rem;
  margin-left: -0.71429rem;
  margin-right: 0.28571rem;
  border-radius: 50%;
  background-size: cover;
}

/*# sourceMappingURL=434.069a0a0533035df9697e.css.map*/