.information-page {
  height: 92vh;
  padding-top: 4.07143rem;
  padding-bottom: 0.85714rem;
  padding-bottom: calc(0.85714rem + constant(safe-area-inset-bottom) * 1);
  padding-bottom: calc(0.85714rem + env(safe-area-inset-bottom) * 1);
  /* #ifndef h5 */
  /* #endif */
}
.information-page .list-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.information-page.typeHidden {
  padding-top: 4rem;
}
.information-page.typeHidden .information-page__header {
  height: 4rem;
}
.information-page__header {
  height: 4.07143rem;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: inherit;
  top: var(--nav-height, 3.42857rem);
  margin-bottom: -0.28571rem;
  background: white;
}
.information-page__header .anteng-search {
  margin: 0.71429rem 0.85714rem 0 0.85714rem;
  width: auto;
  border: 0.14286rem solid #fff;
  background-color: #f5f6fa;
  height: 2.64286rem;
  border: 2px solid #fff;
  border-radius: 1.71429rem;
}
.information-card {
  margin: 0.71429rem 0.85714rem;
  background-color: #fff;
  border-radius: 1.07143rem;
  position: relative;
  padding: 0.85714rem 1.07143rem;
}
.information-card-selector {
  margin: 0.35714rem;
  background-color: #fff;
  position: relative;
  padding: 0.35714rem;
  border-bottom: 0.07143rem solid rgba(0, 0, 0, 0.1);
}
.information-card-selector .information-card__title {
  font-size: 0.92857rem !important;
}
.information-card-selector .information-card__desc {
  display: none !important;
}
.information-card__content {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  width: 100%;
  height: 6.78571rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.information-card__text {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  overflow: hidden;
}
.information-card__title {
  font-size: 1.14286rem;
  color: #000;
  font-weight: 500;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.information-card__desc {
  width: 100%;
  font-size: 0.85714rem;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.21429rem;
  margin-top: 0.28571rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1.3;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}
.information-card__thumbnail {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 8.21429rem;
  height: 6.78571rem;
  border-radius: 0.35714rem;
  margin-left: 0.85714rem;
  margin-top: 0.21429rem;
  background-color: #f3f3f3;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.information-card__footer {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 100%;
  font-size: 0.85714rem;
  color: rgba(0, 0, 0, 0.7);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1;
  margin-top: 0.85714rem;
}
.information-card__date {
  color: rgba(0, 0, 0, 0.3);
}
.information-list-as-selector {
  height: 70vh;
}
.information-list-page {
  height: 50vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/*# sourceMappingURL=680.b7a554a3b5241625e5d9.css.map*/