.order-list-page {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order-list__tab {
  height: 3.28571rem;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0.28571rem;
}

.order-list__tab-item {
  padding: 0 0.85714rem;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  will-change: transform;
}

.order-list__tab-item.active {
  font-weight: 600;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  color: rgb(0, 0, 0);
}

.order-list__content {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.order-list__content .swiper {
  width: 100%;
  height: 100%;
}

.order-list__content .swiper-item {
  width: 100%;
  height: 100%;
}

.order-list__content .scroller {
  width: 100%;
  height: 100%;
}

.order-list__content .sub-page {
  padding: 0.85714rem;
  background-color: #f5f5f5;
  padding-bottom: 1.71429rem;
  padding-bottom: calc(1.71429rem + constant(safe-area-inset-bottom) * 1);
  padding-bottom: calc(1.71429rem + env(safe-area-inset-bottom) * 1);
  /* #ifndef h5 */
  /* #endif */
}

.order-list__content .end-tip {
  width: 100%;
  font-size: 0.92857rem;
  color: rgba(0, 0, 0, 0.35);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.85714rem;
}
.order-list-item {
  width: 100%;
  background-color: #fff;
  border-radius: 0.57143rem;
  margin-bottom: 0.71429rem;
  padding: 0.85714rem;
}
.order-list-item .order-item__header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.order-list-item .order-item__id {
  font-size: 0.92857rem;
}
.order-list-item .order-item__status {
  margin-left: auto;
  color: var(--anteng-color-primary);
}
.order-list-item .order-item__goods {
  margin-top: 0.85714rem;
}
.order-list-item .order-item__goods .c_goods-item {
  margin-bottom: 0.85714rem;
}
.order-list-item .order-item__payment {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 0.85714rem;
}
.order-list-item .order-item__freight {
  font-size: 0.85714rem;
  color: rgba(0, 0, 0, 0.35);
  margin-right: 0.28571rem;
}
.order-list-item .order-item__amount {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.92857rem;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.order-list-item .order-item__amount .yen {
  font-size: 0.85714rem;
  margin: 0 0.07143rem;
}
.order-list-item .order-item__amount .value {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.28571rem;
}
.order-list-item .order-item__footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0.85714rem;
}
.order-list-item .order-item__footer .pay-count-down {
  margin-right: auto;
  font-size: 0.92857rem;
  color: var(--anteng-color-primary);
}
.order-list-item .order-item__action {
  height: 2.28571rem;
  font-size: 0.85714rem;
  border-radius: 0.57143rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.14286rem;
  min-width: 4.28571rem;
  margin-left: 0.57143rem;
  font-weight: 500;
  background-color: #f7f7f7;
}
.order-list-item .order-item__action.primary {
  background-color: var(--anteng-color-primary);
  color: var(--anteng-color-primary-text, #fff);
  border-color: transparent;
}
.after-sale-step-title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.after-sale-step-title .label {
  font-size: 0.85714rem;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.after-sale-step-title .label.active {
  font-size: 1.14286rem;
  opacity: 1;
}
.after-sale-step-title .label.fulfill {
  opacity: 0.8;
}
.after-sale-step-title .icon {
  margin: 0 0.57143rem;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.after-sale-step-title .icon.fulfill {
  opacity: 0.8;
}
.after-sale-step-1 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 35.71429rem;
}
.after-sale-step-1 .choose-type {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background: #fff;
  padding: 0.85714rem;
  border-radius: 0.71429rem;
  margin: 0 0.85714rem 0.71429rem 0.85714rem;
}
.after-sale-step-1 .choose-type .title {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
}
.after-sale-step-1 .choose-type .type {
  font-size: 0.92857rem;
  padding: 0.42857rem 1.14286rem;
  border: 0.07143rem solid #f5f6fa;
  background-color: #f5f6fa;
  border-radius: 0.57143rem;
  margin-right: 0.71429rem;
  margin-top: 0.71429rem;
}
.after-sale-step-1 .choose-type .type.active {
  background-color: rgba(var(--anteng-color-primary-rgb), 0.1);
  color: var(--anteng-color-primary);
  border: 0.07143rem solid var(--anteng-color-primary);
}
.after-sale-step-1 .goods-scroller {
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background-color: #fff;
  border: 0.14286rem solid #fff;
  margin: 0 0.85714rem 0.71429rem 0.85714rem;
  border-radius: 0.71429rem;
  width: auto;
}
.after-sale-step-1 .goods-list {
  padding: 0.85714rem;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.after-sale-step-1 .goods {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-bottom: 0.85714rem;
  border-bottom: 0.03571rem solid #eee;
  padding-bottom: 0.85714rem;
}
.after-sale-step-1 .goods:last-of-type {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}
.after-sale-step-1 .goods .c_goods-item {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: auto;
  overflow: hidden;
  margin-left: 0.57143rem;
}
.after-sale-step-1 .goods-af-exist {
  width: 100%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  color: #1677ff;
  font-weight: 0.85714rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.28571rem 0;
  margin-bottom: -0.28571rem;
}
.after-sale-step-actions-placeholder {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  height: 4.71429rem;
  height: 66px;
  height: calc(4.71429rem + constant(safe-area-inset-bottom) * 1);
  height: calc(4.71429rem + env(safe-area-inset-bottom) * 1);
  /* #ifndef h5 */
  /* #endif */
}
.after-sale-step-actions {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  background-color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  padding: 0.85714rem;
  padding-bottom: 0.85714rem;
  padding-bottom: calc(0.85714rem + constant(safe-area-inset-bottom) * 1);
  padding-bottom: calc(0.85714rem + env(safe-area-inset-bottom) * 1);
  /* #ifndef h5 */
  /* #endif */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.after-sale-step-actions .action {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0.28571rem;
  background-color: #f7f7f7;
  border-radius: 0.71429rem;
  height: 3rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.after-sale-step-actions .action.primary {
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background-color: var(--anteng-color-primary);
  color: var(--anteng-color-primary-text, #fff);
}
.after-sale-step-2 {
  height: 100%;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 35.71429rem;
}
.after-sale-step-2 .orders {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.28571rem 0.85714rem 0.57143rem 0.85714rem;
}
.after-sale-step-2 .order-item {
  width: 4.57143rem;
  height: 4.57143rem;
  border-radius: 0.57143rem;
  margin-right: 0.57143rem;
  border: 0.14286rem solid #fff;
  border-radius: 0.71429rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.after-sale-step-2 .order-item.active {
  border-color: var(--anteng-color-primary);
}
.after-sale-step-2 .order-item .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.57143rem;
}
.after-sale-step-2 .order-item .ok {
  position: absolute;
  bottom: 0.07143rem;
  right: 0.07143rem;
  background-color: #fff;
  width: 1.14286rem;
  height: 1.14286rem;
  font-size: 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #2ecc71;
}
.after-sale-step-2 .reason-swiper {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0.85714rem 0.71429rem 0.85714rem;
  border-radius: 0.71429rem;
}
.after-sale-step-2 .reasons-scroller {
  height: 100%;
  background-color: #fff;
  border-radius: 0.71429rem;
  width: auto;
  border: 0.14286rem solid #fff;
}
.after-sale-step-2 .reasons {
  padding: 0.57143rem;
}
.after-sale-step-2 .reason-item {
  padding: 0.85714rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.after-sale-step-2 .reason-item .text {
  margin-left: 1.14286rem;
}

/*# sourceMappingURL=772.fec0c9debb724f26ba0c.css.map*/