.profile-page-scroller {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100vh;
}

.profile-page {
  min-height: 100%;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.85714rem;
  background-image: -webkit-linear-gradient(305deg, rgba(216, 216, 216, 0) 15.28571rem, rgba(216, 216, 216, 0.12) 15.28571rem);
  background-image: linear-gradient(145deg, rgba(216, 216, 216, 0) 15.28571rem, rgba(216, 216, 216, 0.12) 15.28571rem);
  position: relative;
  z-index: 0;
  padding-bottom: 5.21429rem;
  padding-bottom: calc(5.21429rem + constant(safe-area-inset-bottom) * 1);
  padding-bottom: calc(5.21429rem + env(safe-area-inset-bottom) * 1);
  /* #ifndef h5 */
  /* #endif */
}

.profile-page::before {
  content: "";
  width: 100%;
  height: 21.42857rem;
  background: -webkit-linear-gradient(220deg, #dff6f8, #d6dafa);
  background: linear-gradient(230deg, #dff6f8, #d6dafa);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #000), to(transparent));
  -webkit-mask-image: -webkit-linear-gradient(top, #000 50%, transparent);
          mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #000), to(transparent));
          mask-image: linear-gradient(to bottom, #000 50%, transparent);
}

.profile-page.as-page .user-info {
  /* #ifdef h5 */
  margin-top: var(--nav-height);
  /* #endif */
}

.profile-page .user-info {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.42857rem;
}

.profile-page .personal-auth-button {
  margin-left: auto;
  font-size: 0.92857rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0.92857rem;
}

.profile-page .user-avatar {
  width: 4.28571rem;
  height: 4.28571rem;
  background-color: #fff;
  border: 0.14286rem solid #fff;
  border-radius: 50%;
  margin-right: 1.07143rem;
}

.profile-page .user-tag {
  font-size: 0.78571rem;
  line-height: 1.28571rem;
  padding: 0 0.42857rem;
  margin-left: 0.28571rem;
  border-radius: 0.35714rem;
  border: 0.07143rem solid #b5b5b5;
  color: rgba(0, 0, 0, 0.6);
}

.profile-page .user-nickname {
  font-size: 1.35714rem;
  font-weight: 500;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-page .user-mobile {
  font-size: 0.92857rem;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0.03571rem;
}

.profile-page .c_community__score {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #3f4659;
  margin-bottom: -2.57143rem;
  padding-bottom: 1.71429rem;
  border-radius: 1.07143rem;
  border: 0.07143rem solid rgb(238, 238, 238);
}

.profile-page .c_community__score-content {
  width: 100%;
  padding: 1rem 1.14286rem 0.85714rem 1.14286rem;
  color: #e3effe;
  font-size: 1rem;
  font-weight: 500;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-page .c_community__score-text {
  background: -webkit-linear-gradient(45deg, #7fb0ff 0%, #c1f8fc 100%);
  background: linear-gradient(45deg, #7fb0ff 0%, #c1f8fc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.profile-page .c_community__score .iconfont {
  opacity: 0.5;
}

.profile-page .located-community {
  height: 5.71429rem;
  background-color: #fff;
  font-size: 0.92857rem;
  color: rgba(31, 44, 78, 0.6);
  border-radius: 1.07143rem;
  border: 0.07143rem solid rgb(238, 238, 238);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1.07143rem;
  margin: 0.71429rem 0;
  overflow: hidden;
}

.profile-page .located-community::after {
  content: "";
  width: 9.71429rem;
  height: 5rem;
  background-image: url(https://dev-cdn.cardcat.cn/anteng/community-bg.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 100% 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.profile-page .located-community__info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.14286rem;
  color: rgb(31, 44, 78);
  font-weight: 500;
  margin-top: 0.28571rem;
}

.profile-page .located-community__info .icon {
  margin-right: 0.28571rem;
  color: #1f2c4e;
  opacity: 0.4;
}

.profile-page .located-icon {
  width: 0.92857rem;
  height: 1.07143rem;
  margin-right: 0.42857rem;
}

.profile-page .community-service {
  background-color: #fff;
  border-radius: 1.07143rem;
}

.profile-page .community-service__title {
  font-size: 1.07143rem;
  color: #000;
  font-weight: 600;
  line-height: 1;
  padding: 1.21429rem 1.35714rem;
}

.profile-page .community-service__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 0.57143rem;
}

.profile-page .community-service__item {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 25%;
  font-size: 0.92857rem;
  font-weight: 400;
  color: #000000;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.92857rem 0;
}

.profile-page .community-service__icon {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.57143rem;
}

.profile-page .tool-menu {
  background-color: #fff;
  border-radius: 1.07143rem;
  overflow: hidden;
}

.profile-page .tool-menu-item {
  height: 4.28571rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.92857rem 0 1.42857rem;
  font-size: 1rem;
  color: #000;
  position: relative;
}

.profile-page .tool-menu-item:last-child::after {
  display: none;
  content: none;
}

.profile-page .tool-menu-item::after {
  content: "";
  width: calc(100% - 2.14286rem);
  height: 0.07143rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate3d(-50%, 50%, 0);
          transform: translate3d(-50%, 50%, 0);
  background: #f2f3f5;
}

.profile-page .tool-menu-item .icon {
  font-size: 1.28571rem;
  margin-right: 0.85714rem;
}

.profile-page .tool-menu-item .icon.icon-right {
  margin-left: auto;
  opacity: 0.2;
  margin-right: 0;
}

.profile-page .tool-menu__icon {
  width: 1.42857rem;
  height: 1.42857rem;
  margin-right: 1.07143rem;
}

.profile-footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.2;
  padding: 0.85714rem;
  font-size: 0.85714rem;
}
.profile-order {
  background-color: #fff;
  border-radius: 1.07143rem;
  margin-bottom: 0.85714rem;
}

.profile-order__header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1.07143rem;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-order__title {
  font-size: 1.07143rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.profile-order__all {
  font-size: 0.85714rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.35);
}

.profile-order__all .icon {
  opacity: 0.6;
  font-size: 0.85714rem;
}

.profile-order__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1.07143rem;
}

.profile-order__item {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.85714rem;
  position: relative;
}

.profile-order__item .icon {
  font-size: 2rem;
  line-height: 1;
}

.profile-order__badge {
  height: 1.28571rem;
  min-width: 1.28571rem;
  border: 0.07143rem solid rgb(255, 255, 255);
  font-size: 0.85714rem;
  font-weight: 500;
  color: #fff;
  border-radius: 1.14286rem;
  background-color: rgb(254, 112, 1);
  padding: 0.14286rem 0.32143rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -0.42857rem;
  right: 1.71429rem;
}

.profile-order__badge.flicker::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-linear-gradient(165deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 60%);
  background-image: linear-gradient(-75deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 60%);
  background-size: 400% 100%;
  -webkit-animation: badge_flicker 4s infinite linear;
          animation: badge_flicker 4s infinite linear;
}

@-webkit-keyframes badge_flicker {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -300% 0;
  }
}

@keyframes badge_flicker {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -300% 0;
  }
}

.profile-order__name {
  font-size: 0.85714rem;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 0.14286rem;
}

/*# sourceMappingURL=917.c6f4eae0837620fa5885.css.map*/