.mine {
  padding: 0 var(--padding-small);
  overflow: visible;

  .mineTopCard {
    .avatarContainer {
      border: 3px solid #ffffff;
      .userAvatar {
        border: 4px solid #ffffff;
        height: 90px;
        width: 90px;
      }
    }
  }

  .mineSelections {
    padding: 0 var(--padding-small);
    .customerServiceContainer {
      position: relative;
      .customerServiceBtn {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
      }
    }
  }
}
