@import 'src/style/common';

.login {
  padding: 0 30px;

  .formContainer {
    margin-top: 25px;

    // 账号密码登录
    .passwordLogin {
      .phone,
      .password {
        margin-top: var(--margin-l-l);
        border-radius: var(--radio-large-l);
        padding: 10px var(--padding-small);
        background: #f4f6f9;
      }

      .password {
        .passwordBtn {
          color: var(--buttonBackgroundColor);
          font-weight: 400;
          white-space: nowrap;
          font-size: 14px;
        }
      }
    }

    .leftInput {
      font-size: 18px;
      font-weight: 550;
      margin-right: 15px;
    }

    .phone,
    .password,
    .captcha {
      margin-top: var(--margin-l-l);
      border-radius: var(--radio-large-l);
      padding: 10px var(--padding-small);
      background: #f4f6f9;
    }

    .captcha {
      flex-wrap: nowrap;

      .captchaBtn {
        width: fit-content;
        @include durationTime(300ms);
        color: var(--buttonBackgroundColor);
        font-weight: 400;
        white-space: nowrap;
        font-size: 14px;
      }
      .get-message-again {
      }
    }
  }
}
