<!doctype html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,viewport-fit=cover"
          name="viewport"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="format-detection" content="telephone=no,address=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <script>!function (n) {
			function f() {
				var e = n.document.documentElement, w = e.getBoundingClientRect().width, x = 14 * w / 375;
				e.style.fontSize = x >= 40 ? "40px" : x <= 12 ? "12px" : x + "px"
			}

			n.addEventListener("resize", (function () {
				f()
			})), f()
		}(window);</script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <script defer="defer" src="/mini-app/js/170.js"></script>
    <script defer="defer" src="/mini-app/js/app.js"></script>
    <link href="/mini-app/css/app.d62407ff4d43641e1ea6.css" rel="stylesheet">
</head>
<body>
<div data-scene="store" id="app"></div>
</body>
</html>