.kacat-scroll-tab {
  width: 100%;
  overflow: hidden;
  &.kacat-scroll-tab--vertical {
    height: 100%;
    .kacat-scroll-tab__scroll {
      height: 100%;
    }
    .kacat-scroll-tab__content {
      flex-direction: column;
    }
  }
}

.kacat-scroll-tab__scroll {
  scroll-behavior: smooth;
}

.kacat-scroll-tab__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.kacat-scroll-tab__item {
  flex-shrink: 0;
}
