.d_image-modal-preview {
  background-image: url(https://dev-cdn.kacat.cn/upload/384af832f39b00f91d6b834551efc82d.webp);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 -32px;
  min-width: 100%;
  min-height: 100%;
  // 嵌入作用域，免得被 rem 影响
  @import '@kacat/deck/src/canvas-components/common/image-modal/style.scss';
  // @import "../../../../../deck/src/canvas-components/common/image-modal/style.scss";
}
