/**
特殊说明:
类名后有 -f
则为 !important 类名
 */
// flex布局
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.no-wrap {
  flex-wrap: nowrap;
}
.just-content-center {
  justify-content: center;
}
.just-content-space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
// 超出隐藏
.overHidden {
  overflow: hidden;
}
.overxHidden {
  overflow-x: hidden;
}
// 宽度
.w-percent100 {
  width: 100%;
}
.w-percent60 {
  width: 60%;
}
.w-percent50 {
  width: 50%;
}
.w-percent45 {
  width: 45%;
}
.w-percent40 {
  width: 40%;
}
.w-auto {
  width: auto;
}
.w-200 {
  width: 200px;
}
.w-200-f {
  width: 200px !important;
}
.w-auto-f {
  width: auto !important;
}
.w-fit-content {
  width: fit-content;
}
// 宽度限制
.max-w-percent-100 {
  max-width: 100%;
}
// box-sizing
.borderBox {
  box-sizing: border-box;
}
// 高度
.h-percent-100 {
  height: 100%;
}
.h-auto {
  height: auto;
}
.h-fit-content {
  height: fit-content;
}
// margin
.margin-0-auto {
  margin: 0 auto;
}
.margin-top-small {
  margin-top: var(--margin-s);
}
.margin-top-normal {
  margin-top: var(--margin-m);
}
.margin-top-large {
  margin-top: var(--margin-l);
}
.margin-left-small {
  margin-left: var(--margin-s);
}
.margin-right-small {
  margin-right: var(--margin-s);
}
.margin-right-normal {
  margin-right: var(--margin-m);
}
.margin-right-large {
  margin-right: var(--margin-l);
}
// 过渡时间
@mixin durationTime($time: 300ms) {
  transition-duration: $time;
}
// 全局变量 按照设计稿抄的
html,
page {
  // margin top small
  --margin-s: 3px;
  --margin-m: 6px;
  --margin-l: 12px;
  --margin-l-l: 20px;
  // 颜色
  --fontColor: #ffffff;
  --fontColorGray: #9b9b9b;
  // 主题色
  --buttonBackgroundColor: #627cff;
  --disableTheme: rgba(0, 0, 0, 0.3);
  // 按钮背景色
  --btnBackgroundColor: rgba(206, 207, 207, 0.3);
  // 距离
  --padding-s-s: 5px;
  --padding-small: 10px;
  --padding-normal: 15px;
  --padding-large: 20px;
  --padding-large-l: 30px;
  // 圆角
  --radio-small: 5px;
  --radio-normal: 10px;
  --radio-large: 15px;
  --radio-large-l: 30px;
  --radio-large-l-s: 35px;
}
page {
  background: #ffffff;
}
// 覆盖
.input {
  padding: 0 var(--padding-normal);
  border-radius: var(--radio-large-l);
  margin-top: var(--margin-s);
  background: #f5f5f5;
  height: 40px;
  outline-style: none;
  border: none;
  width: 100%;
  font-size: 17px;
  font-weight: 600;
  &::placeholder {
    color: rgba(0, 0, 0, 0.1);
  }
}
// 垂直占位
.verticalOccupancy {
  display: flex;
  height: 100%;
  width: 3px;
  background: #000000;
  border-radius: 1px;
  min-height: 30px;
  opacity: 0.1;
  margin: 0 var(--margin-m);
}
// 元素 padding
.padding-top-100 {
  padding-top: 100px;
}
.padding-top-50 {
  padding-top: 50px;
}
// 页面左右统一的边距
.padding-l-r-normal {
  padding: 0 var(--padding-normal);
}
.padding-left-s {
  padding-left: var(--padding-small);
}
.padding-s {
  padding: var(--padding-small);
}
.padding-n {
  padding: var(--padding-normal);
}
.padding-t-b-s {
  padding-top: var(--padding-small);
  padding-bottom: var(--padding-small);
}
.padding-t-b-n {
  padding-top: var(--padding-normal);
  padding-bottom: var(--padding-normal);
}
.padding-b-n {
  padding-bottom: var(--padding-normal);
}
.padding-b-l {
  padding-bottom: var(--padding-large);
}
// 元素 margin
.margin-top-100 {
  margin-top: 100px;
}
.margin-top-50 {
  margin-top: 50px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-l-5 {
  margin-left: 5px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.shadowStyle-normal {
  box-shadow: 0 0 32px 4px rgba(0, 0, 0, 0.09);
}
.shadowStyle-l {
  box-shadow: 0 0 32px 10px rgba(0, 0, 0, 0.09);
}
// 修改 图标颜色
.color-white {
  color: #ffffff;
}
.color-gray {
  color: #c4c4c4;
}
.color-black {
  color: #000;
}
.color-green {
  color: rgb(78, 220, 198);
}
.background-color-origin {
  background: rgb(255, 143, 82);
}
.background-color-blue-purple {
  background: linear-gradient(0deg, #627cff, #759fff);
}
.themeColor {
  color: var(--buttonBackgroundColor) !important;
}
.icon-shadow {
  box-shadow: 0 0 8px 1px rgba(99, 126, 255, 0.3);
}
// 修改 图标大小
.font-size-20 {
  font-size: 20px;
}
.font-size-25 {
  font-size: 25px;
}
.font-size-30 {
  font-size: 30px;
}
.font-size-45 {
  font-size: 45px;
}
.c_base-page__content {
  height: 100vh;
  flex: 1;
}
// 图片大小 会用到的类名
.w-100-h-100 {
  width: 100px;
  height: 100px;
}
.w-120-h-120 {
  width: 120px;
  height: 120px;
}
.m-w-120-m-h-120 {
  min-width: 120px;
  min-height: 120px;
}
.flex1 {
  flex: 1;
}
// 元素 圆角
.radio-s {
  border-radius: var(--radio-small);
}
.radio-n {
  border-radius: var(--radio-normal);
}
.round {
  border-radius: 50%;
}
// 元素 背景色
.dirtyWhite {
  background: #f1f3fb;
}
.pureWhite {
  background: #ffffff;
}
// 横线分割线
.horizontalLine {
  display: flex;
  width: 100%;
  height: 1px;
  background: #eeeeee;
  margin-top: 5px;
  margin-bottom: 10px;
}
.dashLine {
  height: 3px;
  background: repeating-linear-gradient(
    to right,
    rgba(204, 204, 204, 0.9) 0,
    rgba(204, 204, 204, 0.9) 4px,
    transparent 0,
    transparent 10px
  );
}
.emptyData {
  border-radius: var(--radio-normal);
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--padding-normal);
  color: var(--fontColorGray);
  font-size: 13px;
  .emptyImg {
    height: 120px;
    width: 180px;
  }
}
// border
.border-bottom-line-normal {
  border-bottom: 1px solid #eeeeee;
}
// 测试类
.dirtyRed {
  background: rgba(255, 0, 0, 0.4);
}
// loading
.loadingContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.text-end {
  text-align: end;
}
