@font-face {
  font-family: "iconfont"; /* Project id 4543403 */
  src: url('//at.alicdn.com/t/c/font_4543403_b40dzaqjypa.woff2?t=1746548880880') format('woff2'),
  url('//at.alicdn.com/t/c/font_4543403_b40dzaqjypa.woff?t=1746548880880') format('woff'),
  url('//at.alicdn.com/t/c/font_4543403_b40dzaqjypa.ttf?t=1746548880880') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiazai_loading:before {
  content: "\e622";
}

.icon-guanlixiang_dropbox:before {
  content: "\e621";
}

.icon-shengxiaotu_rabbit-zodiac:before {
  content: "\e618";
}

.icon-shengxiaoshe_snake-zodiac:before {
  content: "\e614";
}

.icon-shengxiaoyang_sheep-zodiac:before {
  content: "\e619";
}

.icon-shengxiaoshu_mouse-zodiac:before {
  content: "\e61a";
}

.icon-shengxiaoma_horse-zodiac:before {
  content: "\e61b";
}

.icon-shengxiaoniu_cattle-zodiac:before {
  content: "\e61c";
}

.icon-shengxiaolong_dragon-zodiac:before {
  content: "\e61d";
}

.icon-shengxiaohou_monkey-zodiac:before {
  content: "\e61e";
}

.icon-shengxiaoji_chicken-zodiac:before {
  content: "\e61f";
}

.icon-shengxiaohu_tiger-zodiac:before {
  content: "\e620";
}

.icon-shengxiaozhu_pig-zodiac:before {
  content: "\e615";
}

.icon-shengxiaogou_dog-zodiac:before {
  content: "\e616";
}

.icon-fanhui:before {
  content: "\e62b";
}

.icon-a-tianjia2:before {
  content: "\e9b5";
}

.icon-gengduo:before {
  content: "\e630";
}

.icon-indexHome:before {
  content: "\e8cd";
}

.icon-no-user:before {
  content: "\e617";
}

.icon-kongkongde:before {
  content: "\e600";
}

.icon-dashboard:before {
  content: "\e8c2";
}

.icon-message:before {
  content: "\e8c6";
}

.icon-a-accountcircle:before {
  content: "\e8be";
}
