.store-list {
  .titleBottomLine {
    margin-top: 10px;
  }
  .theClosestTag {
    border: 1px solid #627cff;
    padding: 2px 5px;
    border-radius: 2px;
    white-space: nowrap;
  }
  .store-item {
    background: #ffffff;
    margin-bottom: 10px;
  }
}
