// 滚动条美化
@mixin scrollbar {
  &::-webkit-scrollbar {
    /*高宽分别对应横竖滚动条的尺寸*/
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-track {
    //    background: $ui-bg;
    //    opacity: .7;
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
  &:hover {
    &::-webkit-scrollbar {
      display: block;
    }
  }
}