.index-tab {
  box-sizing: border-box;
  height: 49px;
  height: calc(49px + constant(safe-area-inset-bottom));
  height: calc(49px + env(safe-area-inset-bottom));
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-bottom: calc(0px + constant(safe-area-inset-bottom));
  padding-bottom: calc(0px + env(safe-area-inset-bottom));
  // border-radius: 15px 15px 0 0;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.02);
  // filter: drop-shadow(0 -2px 1.8px rgba(0, 0, 0, 0.04)) drop-shadow(0 0 1px #eee);
  transform: translateZ(0);
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 50;
  &.index-tab--rudder {
    box-shadow: none;
    filter: drop-shadow(0 -2px 8px rgba(59, 134, 255, 0.2)) drop-shadow(0 0 1px #eee);
  }
}
.index-tab--raised {
  .index-tab__icon {
    transform: scale(1.8);
    transform-origin: bottom center;
  }
}

.index-tab--capsule {
  border-radius: 100px !important;
  padding-bottom: 0;
  height: 56px;
  margin: 20px;
  margin: max(calc(constant(safe-area-inset-bottom) / 2), 20px);
  margin: max(calc(env(safe-area-inset-bottom) / 2), 20px);
  /* #ifndef h5 */
  margin: max(calc(var(--safe-area-inset-bottom) / 2), 20px);
  /* #endif */
}

.index-tab-bg {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-mask-image: url(./tab1.svg);
  -webkit-mask-size: 100% auto;
  mask-image: url(./tab1.svg);
  mask-size: 100% auto;
  // mask-position: 0 -3px;
  mask-size: 100% auto;
}
.index-tab__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .icon-text-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &--active {
    .index-tab__name {
      color: #000;
    }
    // .index-tab__icon .icon-font {
    //   background: #ff8c42; /* fallback for old browsers */
    //   background: -webkit-linear-gradient(235deg, #ffd54e, #ff8c42); /* Chrome 10-25, Safari 5.1-6 */
    //   background: linear-gradient(
    //     235deg,
    //     #ffd54e,
    //     #ff8c42
    //   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    //   background-clip: text;
    //   -webkit-background-clip: text;
    //   color: transparent;
    //   -webkit-text-fill-color: transparent;
    // }
  }
  &--center {
    flex: initial;
    width: 49px;
    height: 49px;
    margin: 0 18px;
    flex-shrink: 0;
    border-radius: 50%;
    // background-color: #fff;
    position: relative;
    transform: translateY(-30px);
    .index-tab__name {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate3d(-50%, 25px, 0);
    }
    .index-tab__icon {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}
.index-tab__icon {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #bbb;
  img {
    width: 100%;
    height: 100%;
  }
}
.index-tab__name {
  font-size: 11px;
  line-height: 1;
  margin-top: 4px;
  color: #ccc;
  white-space: nowrap;
}

.index-tab__open-type {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
