.text {
  margin-top: var(--margin-s);

  &.oneRow {
    overflow: hidden;
    text-overflow: ellipsis; /* 当文本溢出时显示省略号 */
    white-space: nowrap; /* 禁止文本换行 */
    display: block; /* 确保该规则适用于块级元素 */
    width: 100%; /* 或者根据需要设定宽度 */
  }
}
