.loginSelector {
  padding: 0 30px;

  .cardContainer {
    .logoContainer {
      margin-top: 120px;
      width: 80px;
      height: 80px;
      border-radius: var(--radio-large);
      overflow: hidden;
      justify-content: center;
      align-items: center;
      background: url('https://dev-cdn.kacat.cn/upload/20240418/c15f2d5cb553860f888ddbbda5598467.png') no-repeat;
      background-size: cover;
    }
  }

  .buttonContainer {
    margin-top: 100px;
  }

  .loginByPhoneBtnContainer {
    margin-top: 95px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #eeeeee;
    border-radius: var(--radio-large-l);
    padding: var(--padding-s-s) var(--padding-small);

    .loginByPhoneBtn {
      font-size: 11px;
      line-height: 11px;
    }
  }

  .passwordLoginBtn {
    margin-top: 25px;
  }
}
