.animationContainer {
  display: flex;
  width: 100%;
  height: fit-content;
  transform: translateX(100%);
  opacity: 0;
}

.startAnimation {
  animation-name: fadeInLeft;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out; /* 可根据需要调整动画速度曲线 */
  animation-fill-mode: both; /* 保持结束状态（默认为none） */
  opacity: 1 !important;
}

/* style.scss */
@keyframes fadeInLeft {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(0);
    opacity: 1 !important;
  }
}
