// 滚动条美化
@mixin scrollbar {
  &::-webkit-scrollbar {
    /*高宽分别对应横竖滚动条的尺寸*/
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-track {
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
  &:hover {
    &::-webkit-scrollbar {
      display: block;
    }
  }
}
html[theme="light"] {
  $--v-theme-background: rgba(0, 0, 0, .1) !important;
  background-color: var(--color-text-tertiary);
}
html[theme="dark"] {
  $--v-theme-background: rgba(0, 0, 0, .4) !important;
  background-color: var(--v-color-bg-50);
}
html {
  overflow: hidden;
  background-color: rgba(0, 0, 0, .6);
}
