// 滚动条美化
@mixin scrollbar {
  &::-webkit-scrollbar {
    /*高宽分别对应横竖滚动条的尺寸*/
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-track {
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
  &:hover {
    &::-webkit-scrollbar {
      display: block;
    }
  }
}
html[theme="light"] {
  $backColor: #3333;
  background-color: $backColor;
}
html[theme="dark"] {
  $backColor: #1f1f1f;
  background-color: $backColor;
}
html {
}
// 深色模式下的变量
