.biz-dict-top-options {
  padding: 12px;
  width: 800px;
  min-height: 400px;
  height: fit-content;
  background: var(--ui-bg);
}
.kacat-modal-content {
  padding-bottom: 30px;
}
.font-theme-color {
  color: var(--color-text-base) !important;
}
